header {
    font-weight: bold;
    font-size: large;
    text-align: center;
    color: white;
    padding: 3px;
}

.row>div:hover {
    transform: scale(1.1);
    color: whitesmoke;
    transition: ease-in-out 300ms;
}
header {
    font-size: xx-large;
    background-color: gray;
    color:#150029;
    margin-bottom: 10px;
}

body {
    background-color: #150029;
    color: #b8b4b4;
    font-weight: bold;
}

.modal-title {
    color: black;
    font-weight: bold;
}

.modal-body {
    color: rgb(46, 44, 44);
}

.btn-primary {
    background-color: #150029;
}

.btn-primary:hover {
    transform: 0.9;
    background-color: #150029;
}

#reset {
    display: block;
    width: 200px;    
}

.margin-auto {
    margin: 0 auto;
}